@import 'react-big-calendar/lib/sass/styles';

.rbc-event-content {
    font-size: 10px
}

.rbc-event {
    padding: 1px 1px 1px 1px;
    // text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center
}